@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";

// Put your variable overrides here
$book-background: white;
$page-background: white;
$sidebar-background: white;
$color-border: $color-gray-dark;

$color-primary: blue;
$color-text: $color-gray-dark;

$heading-map : ( 
                color: $color-primary, 
                border-bottom: 1px solid $color-primary,
                font-family: $font-family-sans
                );

@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";